* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: #0a3d62;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

h1 {
    margin: 30px;
    text-shadow: 5px 5px white;
    font-size: 6rem;
    color: #f6b93b;
}

p {
    font-size: 2rem;
    color: #00b894;
    text-shadow: 1px 1px white;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #00b894;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

img {
    width: 80%;
}