body {
    background-color: darkslateblue;
}

#heading {
    color: azure;
    text-shadow: 5px 2px deeppink;
    /*h-shadow v-shadow color*/
    text-align: center;
    font-size: 80px;
}

.container {
    margin: 10% auto;
}

.btn {
    width: 150px;
    height: 150px;
    font-size: 60px;
    font-weight: 900;
    line-height: 2;
    color: #DA0463;
    text-shadow: 3px 2px ivory;
    border-radius: 20px;
    border: solid 10px #596177;
    display: inline-block;
    text-align: center;
    margin: 30px;
}

footer {
    color: aliceblue;
    text-align: center;
    font-size: 18px;
}

.a {
    background-image: url("images/tom1.png");
}

.s {
    background-image: url("images/tom2.png");
}

.d {
    background-image: url("images/tom3.png");
}

.f {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}

.k {
    background-image: url("images/crash.png");
}

.l {
    background-image: url("images/kick.png");
}

.pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
}