
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
 
}
body{
  transition: 1s;
}

.main{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center ;
  align-items:center;
} 
.h{
  background-color:black;
  color:#15f4ee;
  
  padding:40px;
  font-family: poppins;
  font-size: 31px;
  text-align: center;
}
.container{
  font-family: poppins;
  width: 30rem;
  color:#15f4ee;
  padding:60px;
  background-color: black;
  border-radius: 10px ;
  text-align: center;
  font-size: 21px;
}
.h:hover{
  box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,
            0 5px 50px  0 #15f4ee inset,0 5px 50px 0 #15f4ee;
            text-shadow: 0 0 5px #15f4ee 0 0 5px #15f4ee;
}

button{
  position: center;
  padding: 20px;
margin-left: 85px;
  display:block;
  background-color: black;
  text-align: center;
  color:#15f4ee;
  font-family: poppins;
  border: 5px solid #15f4ee;
  text-transform: uppercase;
  letter-spacing: 15px;
  cursor:  pointer;
  border-radius: 100px;
  font-size: 35px;
  transition: 1.5s;
}
.b:hover{
box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,
            0 5px 50px  0 #15f4ee inset,0 5px 50px 0 #15f4ee;
            text-shadow: 0 0 5px #15f4ee 0 0 5px #15f4ee;
}