/* //Setting default font size of web page */
html{
    font-size: 10px;
}

/* Heading rules and start button styles */
body{
    height: 100%;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.heading{
    font-size: 5rem;
    text-align: center;
    color: white;
}

#rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#rules li{
    font-size: 3rem;
    list-style: none;
    color: white;
}

#start{
    height: 4rem;
    width: 15rem;
    border-radius: 20rem;
    font-size: 3rem;
}
/* heading rules and start button styles ends */

/* timer quiz area styling begins */
#timer{
    border: 4px solid whitesmoke;
    font-size: 3rem;
    width: 40rem;
    height: 3rem;
    text-align: center;
    margin: auto;
    background-color: white;
}

#quiz-display{
    border: 4px solid white;
    width: 40rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 0.5rem;
}

.question{
    border: 4px solid white;
    width: 40rem;
    height: 15rem;
    background-color: white;
    font-size: 2rem;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-option{
   width: 40rem;
   height: 5rem;
}

#next-previous{
  display: flex;
  justify-content: center;
}
    
.pn{
    width: 10rem;
    height: 4rem;
    margin-top: 0.5rem;
}

#submit{
    width: 10rem;
    height: 4rem;
    margin-top: 0.5rem;
}
/* timer quiz area styling ends */

/* result section styling begins */
#result{
    width: 100%;
    height: 30rem;
    border: 2px solid white;
    font-size: 3rem;
    color: white;
}

#your-result{
    text-align: center;
}
#detailed-result{
    text-align: center;
}
/* result section styling ends */