html{
    font-size: 6px;
}

#start{
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
}

#rules li{
    font-size: 2rem;
    list-style: none;
}

#quiz-display{
    width: 30rem;
}
#timer{
    width: 30rem;
}

.question{
    width: 30rem;
}

.options{
    width: 30rem;
}
.btn-option{
    width: 30rem;
}