html{
    font-size:10px;
}

p{
    padding: 1rem;
}

*{
    background-color:#100f0f;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #100f0f;
    flex-wrap: wrap;
}
#elements{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#Bubble,#Quick,#Count,#Merge,#Insertion{
    width: 18rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border-radius: 3rem;
    color: black;
}

#Bubble:disabled,#Quick:disabled,#Count:disabled,#Merge:disabled,#Insertion:disabled,#set:disabled{
    background-color: burlywood;
}

#set{
    width: 45rem;
    height: 5rem;
    font-weight: bolder;
    font-size: 3rem;
    background-color: white;
    border-radius: 3rem;
}


h1{
    margin-top: 2rem;
    text-align: center;
    font-size: 6rem;
    color: white;
    text-decoration:underline;
}

h2{
    text-align: center;
    margin-top: 4rem;
}


h3{
    text-align: center;
    margin-top: 4rem;
}

h4{
    margin:1rem 0rem ;
}

#about{
    background-color: #100f0f;
    color: white;
    font-size: 3rem;
    margin-top: 2rem;
}
li{
    margin-left: 2rem;
    list-style: none;
}
#container{
    margin-top: 3rem;
    height:70rem;
    width: 100vw;
    background-color: #100f0f;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

#array-input{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#number_of_elements{
    width: 45rem;
    border-radius:3rem;
    height: 4rem;
    border: 2px solid white;
    background-color: white;
    font-size: 2rem;
    text-align: center;
}