
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background:#ecf0f3 ;
}

.container
{
    
    width: 23%;
    height: 60vh;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 12px 12px 20px #cbced1,
                   -12px -12px 20px #ffff;
 
}

.display #screen{
    width: 97%;
    height: 75px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5rem;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1,
                     inset -8px -8px 8px #ffff ;
                     margin-top: 30px;
                    
}

.btns{
    width: 100%;
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btns .row button{
    width: 65px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px #00000020,
               -5px -5px 8px #ffffff;
               transition: .1s;
}


.btns .row button:hover{
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
                inset -5px -5px 8px #ffffff;
                background: #ffffff;
}

#eval{
    background: #33ccff;
    color: #ffffff;
    box-shadow: inset 5px 5px 8px #66d9ff,
    inset -5px -5px 8px #00ace6;
    
    
}

#eval:hover{
    box-shadow: inset 5px 5px 8px #00ace6,
    inset -5px -5px 8px #00ace6;
}

#ac{
    background: #33cc33;
    color: #ffffff;
    
}

#ac:hover{
    box-shadow: inset 5px 5px 8px #2eb82e,
    inset -5px -5px 8px #33cc33;
}

#ce{
    background: #ff3399;
    color: #ffffff;
   
}

#ce:hover{
    box-shadow: inset 5px 5px 8px #e60073,
    inset -5px -5px 8px #ff3399;
}
.p{
    text-align: center;
}