@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap');


* {
    box-sizing: border-box;
     font-family: 'Nunito', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Source Sans Pro', sans-serif; 


}

body {
    background-color: #2B2F4B;
    background-image: url('g.png');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    border-radius: 9px;
    color: rgb(101, 4, 106);
    text-align: center;
    padding: 5px 0 8px 0;
}

form h2 {
    font-size: 25;
    color: rgb(61, 1, 75);
}

.col{
    display: flex;
    flex-direction: row;
    border: solid 2px none;
    justify-content: center;
    text-align: center;
    width: 50%;
    
}

p {
    font-weight: 1000;
}

label {
    font-weight: 1000;
}

.main {
    display: flex;
    
}

form {
    border: 2px solid rgb(32, 108, 240);
    border-radius: 20px;
    background-color: #addbf9;
    justify-content: center;
    text-align: center;
    height: 480px;
    padding: 8px;
    
}

form div {
    margin: 5px 0 12px 0;
    font-size: 18px;
    box-sizing: border-box;
    display: block;
    width: 100%;

}

form div .inp {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 500px;
    padding: 6px ;
    font-size: 15;
    text-align: left;
    
}

.h-enrol {
    color: rgb(61, 1, 75);
    width: 500px;
    
}

.button {
    background-color: #DE999F;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    width: 45%;
    border: 1px solid white;
    margin-top: 10px;
    font-size: 15;
    font-weight: 900;
}

.card {
    background-color: #f7dafc ;
    background-color: #f4d9fb ;
    color: rgb(55, 5, 63);
    width: 500px;
    border-radius: 20px;
    height: 200px;
    padding: 0px;
   display: flex;
   align-items: left;
   justify-content: space-between;
   padding: 3% 8%;
   border: solid;
   margin-bottom: 2rem;
   border-radius: 15px;
   border: 2.4px solid rgb(32, 108, 240);
   background-color: rgba(211, 240, 249,0.4);
}

.p {
    width: 99%;
    padding: 8px;
    bottom: 5px;
    margin-left: 5px;
    text-align: center;
    color: #fff;
}

.p {
    color: #4c11f0;
    color: #25057d;
}

.gender{
text-align: left;
}

.skills{
    text-align: left;
}
#inp{
    text-align: left;
}

