*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body,form{

    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


body{
    height: 100vh;
    background-image: url('/images/yoga2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

form{
    width: 350px;
    margin: 70px;
    padding: 30px;
    background-color: #FCFDF2D0;
    border-radius: 20px;

}

h1{
    color: black;
    font-family: monospace;
    font-weight: 200px;
    font-size: 45px;
}
input{
    margin: 15px;
    padding: 15px;
    width: 100%;
    outline: none;
}

button{
    font-size: 15px;
    font-family: monospace;
    margin-top: 10px;
    border: black;
    background-color: black;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    color:white;
}

.bottom-container {
  background-color: #66BFBF;
padding: 50px 613px 50px 613px;
margin-bottom: -13rem;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
