*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.note{
    width: 500px;
    height: 400px;
    background-color: aliceblue;
    margin: 15px;
margin-top: 5rem;
padding-bottom: 5rem;

}

.tool{
    width: 100%;
    background-color: black;
    color: white;
    padding: 9px;
    display: flex;
    justify-content: end;
}

.tool i{
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-size: 20px;
    padding: 20px;
}
.note textarea:focus{
    border: 0;
    outline: 0;

}

#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
    width: 7rem;
    height: 2rem;
    font-size: small;
    cursor: pointer;
}
