*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* clock container begins */
#clock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

#clock{
    position: relative;
    border-radius: 50%;
    width: 40rem;
    height:40rem;
    background-image: url("./cl3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* clock container ends */
#buttons{
    display: flex;
}
/* Minutes,hands,seconds begins */
#hour{
    height: 6rem;
    width: 4px;
    background-color: black;
    position: absolute;
    top:36%;
    left: 49.9%;
    transform-origin: bottom;
}

#min{
    height: 9.5rem;
    width: 4px;
    background-color: red;
    position: absolute;
    top:28%;
    left: 49.9%;
    transform-origin: bottom;
}

#sec{
    height: 9.5rem;
    width: 4px;
    background-color:orange;
    position: absolute;
    top:28%;
    left: 49.9%;
    transform-origin: bottom;
}
/* Minutes,hands,seconds ends */
button{
    height: 3rem;
    width: 8rem;
    margin-top: 2rem;
    border-radius: 6rem;
}
