 .u-section-1 {
  background-image: url("images/jh.jpg");
  background-position: 50% 50%;
  min-height: 675px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -2px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 677px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 40px 40px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 124px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: 25px 60px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 27px auto 0 0;
  padding: 15px 44px 17px;
}

.u-section-1 .u-image-1 {
  min-height: 677px;
  pointer-events: auto;
  background-image: url("images/5807340-min.png");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 30px 50px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    min-height: 558px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 273px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 124px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 460px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 230px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 480px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 279px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 302px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1232px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px calc(((100% - 1140px) / 2) + -145px) 0 calc(((100% - 1140px) / 2) + 376px);
}

.u-section-2 .u-shape-1 {
  height: 192px;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
  margin-top: 145px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: -349px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 228px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 823px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 429px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 49px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: normal;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 35px auto 0;
  padding: 15px 44px 17px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 614px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-image-2 {
  height: 551px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 432px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 19px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 21px auto 0;
}

.u-section-2 .u-image-3 {
  width: 677px;
  height: 203px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1130px auto 60px calc(((100% - 1140px) / 2) + -110px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1205px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + -145px);
    margin-left: calc(((100% - 940px) / 2) + 276px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 799px;
  }

  .u-section-2 .u-image-1 {
    height: 415px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 615px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 534px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 420px;
  }

  .u-section-2 .u-image-3 {
    height: 204px;
    margin-left: calc(((100% - 940px) / 2) + -110px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 383px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 999px;
  }

  .u-section-2 .u-image-1 {
    height: 643px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 637px;
  }

  .u-section-2 .u-image-2 {
    height: 876px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 262px;
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + -110px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 342px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 507px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 670px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 346px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 163px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 282px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-2 .u-image-2 {
    height: 412px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 103px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: linear-gradient(#d4ab00, #db545a);
  min-height: 787px;
}

.u-section-3 .u-shape-1 {
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
}

.u-section-3 .u-list-1 {
  width: 1088px;
  margin: 82px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 474px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 16px 0 0 7px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-weight: 400;
  margin: 24px 7px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 16px 0 0 7px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  margin: 24px 7px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 16px 0 0 7px;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  margin: 24px 7px 0;
}

.u-section-3 .u-shape-2 {
  display: flex;
  align-items: center;
  width: 220px;
  height: 220px;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
  margin: 15px calc(((100% - 1140px) / 2) + 450px) 0 auto;
}

.u-section-3 .u-image-1 {
  /* background-size:cover; */
}

.u-section-3 .u-image-2 {
  width: 189px;
  height: 177px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  filter: brightness(0);
  margin: -203px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-3 {
  width: 147px;
  height: 191px;
  filter: brightness(0);
  margin: -174px auto 0 calc(((100% - 1140px) / 2) + 304px);
}

#header-child {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  grid-template-areas:
      "input img harm"
      "link img harm";
  align-items: center;
}
#header-child > nav {
  grid-area: harm;
}
#header-child > a {
  grid-area: link;
  margin: 0;
  text-align: start;
}
#header-child > form {
  grid-area: input;
}
#header-child > img {
  grid-area: img;
}
.u-section-3 .u-image-4 {
  width: 407px;
  height: 170px;
  filter: brightness(0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -181px calc(((100% - 1140px) / 2) + 24px) 0 auto;
}

.u-section-3 .u-image-5 {
  width: 138px;
  height: 138px;
  filter: brightness(0);
  --animation-custom_in-scale: 0.3;
  margin: -151px auto 60px calc(((100% - 1140px) / 2) + 166px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 713px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 238px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 437px);
  }

  .u-section-3 .u-image-1 {
    height: 154px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: -129px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-top: -179px;
    margin-left: calc(((100% - 940px) / 2) + 304px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 24px);
  }

  .u-section-3 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2) + 166px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 677px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 547px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 437px);
  }

  .u-section-3 .u-image-1 {
    height: 118px;
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: -93px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 304px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 24px);
  }

  .u-section-3 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 166px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 648px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 836px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 312px);
  }

  .u-section-3 .u-image-1 {
    height: 89px;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: -64px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 304px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 24px);
  }

  .u-section-3 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 166px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 587px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + 112px);
  }

  .u-section-3 .u-image-1 {
    height: 56px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: -31px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-top: -137px;
    margin-left: calc(((100% - 340px) / 2) + 193px);
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 142px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-5 {
    margin-top: -123px;
    margin-left: calc(((100% - 340px) / 2) + 166px);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 885px;
}

.u-section-4 .u-shape-1 {
  width: 737px;
  background-image: linear-gradient(#478ac9, #f1c50e);
  height: 751px;
  margin: 139px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 646px;
  height: 738px;
  object-position: 50% 0%;
  margin: -873px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 520px;
  min-height: 402px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -700px 50px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 23px auto 0 0;
  padding: 16px 169px 16px 168px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 802px;
  margin: 120px 47px 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 201px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(41,46,51,0.25);
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  height: 146px;
  width: 147px;
  margin: 14px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(41,46,51,0.25);
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-icon-2 {
  height: 146px;
  width: 147px;
  margin: 14px auto 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(41,46,51,0.25);
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-icon-3 {
  height: 147px;
  width: 147px;
  margin: 14px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-4 .u-shape-1 {
    width: 686px;
    margin-top: 243px;
  }

  .u-section-4 .u-image-1 {
    width: 543px;
    height: 570px;
  }

  .u-section-4 .u-group-1 {
    width: 405px;
    min-height: 508px;
    margin-top: -646px;
    height: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 91px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }

  .u-section-4 .u-icon-1 {
    padding: 25px;
  }

  .u-section-4 .u-icon-2 {
    padding: 25px;
  }

  .u-section-4 .u-icon-3 {
    padding: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1705px;
  }

  .u-section-4 .u-shape-1 {
    width: 574px;
    height: 1215px;
    margin-top: 490px;
  }

  .u-section-4 .u-image-1 {
    width: 474px;
    height: 490px;
    margin-top: -1655px;
  }

  .u-section-4 .u-group-1 {
    width: 431px;
    min-height: 483px;
    margin-top: -183px;
    margin-right: 71px;
  }

  .u-section-4 .u-list-1 {
    width: 649px;
    margin-top: 51px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 591px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1816px;
  }

  .u-section-4 .u-shape-1 {
    width: 432px;
    height: 1185px;
    margin-top: 631px;
  }

  .u-section-4 .u-image-1 {
    width: 432px;
    height: 465px;
    margin-top: -1761px;
  }

  .u-section-4 .u-group-1 {
    width: 442px;
    margin-top: -27px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-list-1 {
    width: 491px;
    margin-top: 56px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2254px;
  }

  .u-section-4 .u-shape-1 {
    height: 1097px;
    margin-top: 529px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 366px;
    margin-top: -1566px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 420px;
    width: 255px;
    margin-top: -45px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    width: 255px;
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 740px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 544px;
  width: 625px;
  margin: 0 auto;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-label-4 {
  font-weight: 700;
}

.u-section-5 .u-form-group-5 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-5 .u-label-5 {
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 626px;
  background-image: linear-gradient(#f1c50e, #2cccc4);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  line-height: 2.2;
  font-size: 3rem;
  font-style: italic;
  font-family: Aldrich;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 631px;
  text-transform: uppercase;
  margin: 2px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-5 .u-form-1 {
    width: 528px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 389px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 320px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}